<!DOCTYPE html>
<html>

<head>
    <meta name="google-signin-client_id"
        content="422521527055-pc5l318lvk37bbs9vtp4kbirkfhlt51n.apps.googleusercontent.com">
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76"
        href="http://demos.creative-tim.com/material-kit-pro/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="http://demos.creative-tim.com/material-kit-pro/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/creativetimofficial/material-kit/master/assets/js/material.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Quicksand" rel="stylesheet">

    <script src="/views/scripts/portal.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <link href="/views/css/portal.css" rel="stylesheet">
</head>

<body class="profile-page">
    <!-- The HEADER -->
    <header id="header">
        <!-- Profile Picture -->
        <img id="profilePic" src="https://pbs.twimg.com/profile_images/729153090885066753/YtEQI76J.jpg">
        <div class="container-fluid" id="subheader">
            <div class="row" id="row">
                <div class="col-md-6">
                    <h1 id="name"></h1>
                </div>
            </div>
    </header>
    <!--   Unleash creativity here :D   -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <ul class="nav nav-pills nav-pills-success nav-stacked">
                        <li class="active"><a data-toggle="pill" href="#profile">Profile</a></li>
                        <li><a data-toggle="pill" href="#lobby">Lobby</a></li>
                        <li><a data-toggle="pill" href="#decked">Deck Editor(Coming soon)</a></li>
                        <li><a data-toggle="pill" href="/duel" onclick="duel()">Duel Room</a></li>
                        <li><a data-toggle="pill" href="#tourney">Tournaments</a></li>
                    </ul>
                    <div class="recent">
                        <h4>Notifications</h4>
                        <ul>
                            <li><a class="text-success" href="#">Luffy</a> commented on <a
                                    class="text-success">Nami</a>'s picture.</li>
                            <li><a class="text-success" href="#">D.Law</a> changed status to <span
                                    class="text-warning">away</span>.</li>
                            <li><a class="text-success">Goku</a> signed out.</li>
                            <li><a class="text-success" href="#">Zoro</a> changed status to <span
                                    class="text-danger">DND</span>.</li>
                            <li><a class="text-success">Boa Hancock</a> signed in.</li>
                            <li><a class="text-success" href="#">Robin</a> changed status to <span
                                    class="text-info">busy</span>.</li>
                            <li><a class="text-success" href="#">Usopp</a> commented on <a
                                    class="text-success">Nami</a>'s picture.</li>
                        </ul>
                        <a class="text-success more2">More...</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="tab-content">
                        <div id="profile" class="tab-pane fade in active">
                            <h3>Profile Details</h3>
                            <p id="profilename"></p>
                            <p id="nickname"></p>
                            <p id="email"></p>
                        </div>
                        <div id="lobby" class="tab-pane fade">
                            <h3>Lobby</h3>
                            <div class="card card-signup">
                                <form class="form" method="" action="">
                                    <div class="header btn-blue text-center">
                                        <h4>Messages<br><small>☼ Users Online 56 ☼</small></h4>
                                    </div>
                                    <div class="content">

                                        <div class="contentmes">
                                            <div class="conversation-wrapper">
                                                <div class="message-received">
                                                    <div class="bubble">I woke up like 6am and fell back asleep until
                                                        9am which is the latest I've woken this week</div>
                                                    <div class="timestamp">
                                                        <div class="avatar">DH</div>
                                                        <div class="time">7:32PM</div>
                                                    </div>
                                                </div>
                                                <div class="message-sent">
                                                    <div class="bubble">What do you want? A medal?</div>
                                                    <div class="timestamp">
                                                        <div class="time">7:32PM</div>
                                                        <div class="avatar">ON</div>
                                                    </div>
                                                </div>
                                                <div class="message-received">
                                                    <div class="bubble">I want two</div>
                                                    <div class="timestamp">
                                                        <div class="avatar">DH</div>
                                                        <div class="time">7:33PM</div>
                                                    </div>
                                                </div>
                                                <div class="message-sent">
                                                    <div class="bubble">Ok I'll get you two. One says 9am and another
                                                        says latest</div>
                                                    <div class="timestamp">
                                                        <div class="time">7:33PM</div>
                                                        <div class="avatar">ON</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="messaging-area">
                                                <input placeholder="Your message here..." /><a class="send"> <i
                                                        class="icon-paper-plane icons"></i></a>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="footer text-center">
                                        <a href="#" class="btn btn-simple btn-success btn-lg text-blue">Send message</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="decked" class="tab-pane fade">
                            <h3>Deck Editor</h3>
                            <h4>Zou</h4>
                            <p>About Zou Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis felis at
                                nunc commodo, a porta odctetur, augue nec cursus vulputate, risus nulla vulputate augue,
                                vitae congue massa urna sit amet neque.</p>
                            <h4>Dresrosa</h4>
                            <p>About Zou Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis felis at
                                nunc commodo, a p Cras consectetur, augue nec cursus vulputate, risus nulla vulputate
                                augue, vitae congue massa urna sit amet neque.</p>
                            <h4>Punk Hazard</h4>
                            <p>About Zou Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis felis at
                                nunc commodo, a porta odio rutrum. Cras consectetur, augue nec cursus vulputate, risus
                                nulla vulputate augue, v.</p>
                            <h4>New World</h4>
                            <p>About Zou Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis felis at
                                nunc commodo, a porta odio rutrum. Cras consectetur, augue nec cursus vulputate, risus
                                nulla vulputate augue, vitae congue .</p>
                        </div>
                        <div id="tourney" class="tab-pane fade">
                            <h3>Tournaments</h3>
                            <div class="card card-signup">
                                <form class="form" method="" action="">
                                    <div class="header btn-blue text-center">
                                        <h2>Duel Masters<br><small>☼ TCG Tourney ☼</small></h2>
                                    </div>
                                    <div class="content">
                                        <iframe src="https://challonge.com/687vwo2/module" width="100%" height="500"
                                            frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
                                    </div>
                                    <div class="footer text-center">
                                        <a href="#" class="btn btn-simple btn-success btn-lg text-blue">Enter
                                            Tournament</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12" id="onlineFriends">
                    <h3 class="about">Friends online</h3>
                    <ul>
                        <li><button class="btn btn-success btn-xs"><img class="onlineFriendsPics"
                                    src="https://s-media-cache-ak0.pinimg.com/564x/2a/d4/8f/2ad48f56e444ec381dbc38875b368dba.jpg"
                                    width="35px"><span class="onlineFriendsNames">Nami</span></button><span
                                class="text-success status"> online</span></li>
                        <li><button class="btn btn-danger btn-xs"><img class="onlineFriendsPics"
                                    src="https://s-media-cache-ak0.pinimg.com/736x/97/f6/87/97f687b32a47575659f8bda17ca4e3fa.jpg"
                                    width="35px"><span class="onlineFriendsNames">Zoro</span></button><span
                                class="text-danger status"> DND</span></li>
                        <li><button class="btn btn-success btn-xs"><img class="onlineFriendsPics"
                                    src="https://s-media-cache-ak0.pinimg.com/736x/f7/23/52/f723520c2966246ce2c5dba57f54cb12.jpg"
                                    width="35px"><span class="onlineFriendsNames">God Usopp</span></button><span
                                class="text-success status"> online</span></li>
                        <li><button class="btn btn-primary btn-xs"><img class="onlineFriendsPics"
                                    src="https://s-media-cache-ak0.pinimg.com/736x/ce/7f/93/ce7f93895f3798002f2750c0e45e9951.jpg"
                                    width="35px"><span class="onlineFriendsNames">Super Franky</span></button><span
                                class="text-primary status"> working</span></li>
                        <li><button class="btn btn-warning btn-xs"><img class="onlineFriendsPics"
                                    src="http://orig05.deviantart.net/ff16/f/2015/242/b/8/law_x_reader___punk_hazard_____one_piece___by_pandaonykawai-d97p47m.jpg"
                                    width="35px"><span class="onlineFriendsNames">D. Law</span></button><span
                                class="text-warning status"> away</span></li>
                        <li><button class="btn btn-primary btn-xs"><img class="onlineFriendsPics"
                                    src="http://orig06.deviantart.net/b230/f/2012/092/f/2/chibi_tony_tony_chopper_by_tsunade201-d4usgwm.png"
                                    width="35px"><span class="onlineFriendsNames">Chopper</span></button><span
                                class="text-primary status"> working</span></li>
                        <li><button class="btn btn-info btn-xs"><img class="onlineFriendsPics"
                                    src="https://s-media-cache-ak0.pinimg.com/564x/e7/86/aa/e786aad9bcbd6db84aab9d0dcabd0590.jpg"
                                    width="35px"><span class="onlineFriendsNames">Robin</span></button><span
                                class="text-info status"> busy</span></li>
                        <li><button class="btn btn-success btn-xs"><img class="onlineFriendsPics"
                                    src="https://s-media-cache-ak0.pinimg.com/564x/63/c3/05/63c30573c5c27b155d08f2d31cb31981.jpg"
                                    width="35px"><span class="onlineFriendsNames">Boa Hancock</span></button><span
                                class="text-success status"> online</span></li>
                        <li><button class="btn btn-info btn-xs"><img class="onlineFriendsPics"
                                    src="http://images.saiyanisland.com/data/621/One-Piece-Pirate-Warriors-3-Sabo.jpg"
                                    width="35px"><span class="onlineFriendsNames">Sabo</span></button><span
                                class="text-info status"> busy</span></li>
                        <li><button class="btn btn-danger btn-xs"><img class="onlineFriendsPics"
                                    src="http://vignette3.wikia.nocookie.net/onepiece/images/a/a9/Eustass_Kid_Portrait.png/revision/20130709113646"
                                    width="35px"><span class="onlineFriendsNames">Capt.Kid</span></button><span
                                class="text-danger status"> DND</span></li>
                    </ul>
                    <a class="text-success more" href="#">More...</a>
                </div>
            </div>
            <img id="sunny-go-logo" src="/views/images/Logo.png" target="_blank" width="150px">
        </div>

    </main>

</body>

</html>